.form-header{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .right-section{
        display: flex;
        div:first-child{
            margin-right: 10px;
        }
    }
}
.form-container{
    padding: 20px;
    .form-field-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .field{
            flex: 0 0 25%; 
            .mat-form-field{
                width: 85%;
            }
        }
        }
    .tables-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .table-wrapper{
            flex: 0 0 48%; 
            border: 2px solid #f7f7f7;
            border-radius: 5px;
            overflow-x: auto;
            .table-header{
                background-color: #b0b0b045;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                min-height: 29px;

                .right-section{
                    display: flex;
                    div:last-child{
                        margin-left: 10px;
                    }
                }
            }
            .table-body{
                height: calc( 100% - 39px );
                .header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 10px;
                    div{
                        flex: 0 0 50%;
                    }
                }
                .reference-row{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;
                    div{
                        flex: 0 0 50%;
                        .index{
                            margin-right: 5px;
                        }
                        .custom-clear{
                            color: black;
                            margin-left: 10px;
                        }
                    }
                }
                
                
            }
        }
    }
}
.headerText{
    font-size: 16px;
    font-weight: 500;
}
.referenec-conatiner{
    padding: 0px 10px;

}
table{
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}
    th{
    text-align: center;
    border-right: 2px solid #b0b0b045;
    font-weight: 400;
    padding: 5px 12px;

    }

    td {
    border-right: 2px solid #b0b0b045;
    }

  td:last-child , th:last-child{
      border: none;
  }
  tr.table-row th{
    border-bottom: 2px solid #b0b0b045;
   
}

@media(max-width:1024px){
    .custom-clear{
        margin-left: 0px !important;
    }
}
@media(max-width:768px){
    .form-container .tables-container .table-wrapper{
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
}

